.web-nav{
    display: none;
}
.mobile-nav{

}
.userProfile-icon{
    display: none;
}
.mobileNav-icon{
}
.nav-toggle{
    animation: rotate 0.1s  linear ;
}

@media  screen and (min-width:600px) {
    .web-nav{
        display: flex;
    }
    .mobile-nav{
    display: none;
    }
    .userProfile-icon{
        display: block;
    }
    .mobileNav-icon{
        display: none;
    }
}

@keyframes rotate {
    0%{
        transform: rotate(-50deg);
    }
    100%{
        transform: rotate(0deg);
    } 
}